/* THE OVERAL WHOLE DOCUMENT */
*{
padding: 0;
margin: 0;
box-sizing: border-box;
text-decoration: none;
border: none;
outline: none;
font-family: Verdana, Geneva, Tahoma, sans-serif;
scroll-behavior: smooth;
}
/* The root whose values can be accessed as a function */
:root{
  --bg-color: #1f242D;
  --second-bg-color: #323946;
  --text-color:#fff;
  --main-color: #0ef;
  
}
/* The html part */
html{
 overflow-x: hidden;
  background: var(--bg-color);
  color: var(--text-color);

}
/* for all sections */
section ,header{
      padding: 2rem 9%;
}

/* the header of the page */
.header{
    position: fixed;
    display: flex;
    top: 0;
     z-index: 100;
    align-items: center;
    background: var(--bg-color);
    width: 100%;
   
}
/* contents on left part of top of header */
.logo{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-color);
    cursor: default;
}
/* elements in a list in navigation bar */
.navbar a{
     color: var(--text-color);
   margin-left: 4rem;
   transition: 0.3s ;
   
}
/* moving a mouse over the elements in navbar */
.navbar a:hover,
.navbar a.active{
  color: var(--main-color);
 }

#box-model{
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}
.social-media{
font-size: 3.6rem;
color: var(--text-color);

}

/* The next section of the body */
 .section {
     color: var(--text-color);
    display: flex;
    justify-content: center;
    gap: 22px;
    align-items: center;
    margin: 0 0 200px 0; 
    height: 520px;
    padding-top: 15rem;
 

}
/* home contents third headings */
.home-content h3{
    font-weight: 700;
    font-size: 1.5rem;
}

.home-content h1{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-image img{
    width: 35vw;
    border-radius: 22px;
}
 /* span */
span{
    color: var(--main-color);
 }
  
/* Social media links */
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-size: 2rem;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    color: var(--main-color);
    border: .1rem solid var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}
/* Hovering the links */

.social-media a:hover{
   background: var(--main-color);
   color: var(--second-bg-color);
   box-shadow: 0 0 1rem var(--main-color);
}
 

/* button for checking the CV */
.btn{
   display: inline-block;
   font-size: 1.4rem;
   padding: .3rem 1.1rem;
   border-radius: 22px;
   letter-spacing: .1rem;
   font-weight: 600;
   background: var(--main-color);
   color: var(--second-bg-color);
   box-shadow: 0 0 1rem var(--main-color);
}
.btn:hover{
   box-shadow: none;
}

.about{
   height:600px;
   margin-top: 20px;
    padding: 10rem 9% 2rem;
    background: var(--second-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;

}

/* about paragraphs */
.about p{
  font-size: 1.6 rem;
  margin: 2rem 0 3rem;
}

.about h3{
   font-size: 1.6rem;
}

.about h1{
  font-size: 1.9rem;
  font-weight: 600;
}
#about-image img{
  width: 35vw;
  border-radius: 22px;
}

/* services section */
.services{
  height: 580px;
  margin-top: -10px;
}
.services h1{
  text-align: center;
}
.service-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 22px;
}
   .service-box{
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: 2rem;
    flex: 1 1 12rem;
    padding: 3rem 2rem 4rem;
    border: .2rem solid var(--bg-color);
 
}
/* the service box paragraph */
.service-box p{
  font-size: 1.1rem;
  margin: 1rem 0 1rem;
}

/* The logos  */
.service-box i{
       font-size: 5rem;
       color: var(--main-color);
       justify-content: center;
       align-self: center;
}

/* portfolio projects section */

.portfolio h1{
        text-align: center;
}

.my-projects{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* contact section */

.contact h1{
   margin-bottom: 3rem;
   text-align: center;
}

.contact form{
  text-align: center;
  max-width: 70rem;
  margin: 1rem auto;
  margin-bottom: 3rem;
}
 

.input-box input,
form textarea {
     width: 100%;
     color: var(--text-color);
     padding: 1.4rem;
     font-size: 1.4rem;
     background: var(--second-bg-color);
     border-radius: .8rem;

}

.input-box input{
  width: 49%;
}
form textarea{
  resize: none;
}

form .btn{
   cursor: pointer;
   margin-top: 2rem;
}